@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Rubik-Regular;
    src: url(Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik-Medium;
    src: url(Rubik-Medium.ttf);
}
@font-face {
    font-family: Rubik-Bold;
    src: url(Rubik-Bold.ttf);
}

body {
    /* apply default styles for body */
    @apply .font-rubik .text-default .bg-gd-default;
}

.text-muten{
    color: #4f5665;
    
}

.navbar-text{
    font-size: 16px;
}

.main-text{
    font-family: Rubik-Bold;
    color: #0b132a;
    line-height: 70px;
    font-size: 40px;
}

.sec-text{
    font-family: Rubik-Medium;
    color: #0b132a;
    line-height: 50px;
    font-size: 30px;
}

.third-text{
    font-family: Rubik-Medium;
    font-size: 18px;
    color: #4f5665;
    line-height: 30px;
}

.primarybutton{
    width: 250px;
    height: 60px;
    background-color: #ab4693;
    border-radius: 10px;
    box-shadow: 5px 1px 18px #ab4693;
}

.fontjobs{
    font-family: Rubik-Bold;
    color:#ab4693;
    line-height: 30px;
    font-size: 25px;
}

.purple{
    color:#ab4693;
}

.fourth-text{
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
    font-family: Rubik-Regular;
}

.list-text{
    height: 30px;
    font-size: 14px;
    color : #4f5665;
    font-family: Rubik-Regular;
}

.footer-text{
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
    font-family: Rubik-Regular;
}

.bord-10{
    border-radius: 10px;
}

.collapsible {
    text-decoration: none;
  }

  .content {
   text-decoration: none; 
 }
 .active, .collapsible:hover {
    background-color: #555;
  }

  .show{
      text-decoration: none;
  }